.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 2%;
  margin: 0.5rem;
}

.info {
  padding: 1.2rem;
}

/* .text {
  color: #3b5233;
} */

.category {
  opacity: 0.4;
  margin-bottom: 0.2rem;
}

.name {
  font-family: "Antic Didone";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.description {
  /* opacity: 0.6;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-indent: 2rem;
  text-align: justify; */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 1.5rem;
}

.hrBoldLine {
  border: 2px solid;
}

.hrThinLine {
  border: 1px solid;
}
