.section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #faf7f2; */
  padding: 3em;
  margin: 2em;
}
.head {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.name {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.logo {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper_slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */

  justify-content: center;
  align-items: center;
}

.photo {
  /* display: flex; */
  margin: 2rem;
  /* justify-content: center;
    align-items: center;
    text-align: center; */

  width: 50%;
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
}
