.header {
  text-align: center;
  display: grid;
  grid-template-areas: "navbar logo iconWrap";
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.headerTitle {
  /* font-size: 1.3rem; */
  padding: 0;
  padding-top: 1rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 1.3rem;
  }
}

.navbar {
  display: grid;
  grid-area: navbar;
}
.headerSlogan {
  /* opacity: 0.6; */
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
}

.iconWrap {
  display: none;
}

@media (min-width: 768px) {
  .iconWrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    gap: 1rem;
  }
}
