.header {
  text-align: center;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.headerTitle {
  /* font-size: 1.3rem; */
  padding: 0;
  padding-top: 1rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 1.3rem;
  }
}

.logo {
  display: flex;
  flex-direction: column;
}

.headerSlogan {
  /* opacity: 0.6; */
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
}

.hrHeaderLine {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366f2;
  opacity: 1;
}

.iconWrap {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
}

@media (min-width: 768px) {
  .iconWrap {
    right: 1rem;
    top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
  }
}
