/* nav bar */
.navBar {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-top: 3rem;
  margin-bottom: 2rem; */
  width: 100%;
}

.drawer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  gap: 1rem;
}

.navItem {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  margin: 2rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.navItem:hover {
  color: white;
  opacity: 1;
  text-shadow: 0px 0px 30px white;
}

.navItemActive {
  composes: navItem;
  opacity: 1;
}

@media (min-width: 768px) {
  .navBar {
    display: flex;
  }
  .drawer {
    display: none;
  }

  .navItem {
    color: white;
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
  }
  .navItem:hover {
    color: white;
  }
}

.iconWrap {
  position: absolute;
  right: 0.5rem;
  top: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
}

@media (min-width: 768px) {
  .iconWrap {
    right: 1rem;
    top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
  }
}
