.container {
  /* display: grid;
  margin: 2em;
  justify-content: center;
  align-items: center; */
  /* width: "100%"; */
  height: auto;
}

/* .photo {
  display: flex;
  justify-content: center;
  align-items: center;
} */
