.section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #faf7f2; */
  padding: 3em 10rem 3rem 10rem;
  margin: 2em;
}
.head {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.name {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Antic Didone";
  font-style: normal;
  font-weight: 400;
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}
